<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('/views/common/style.html') ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="./uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form id="loginForm" class="col-xs-offset-1 col-xs-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input name='tc_name' type="text" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input name='tc_pass' type="password" class="form-control" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>

    <?php include('/views/common/script.html') ?>
    <script>
        $("#loginForm").submit(function(){
            //alert(123);
            var formData=$(this).serialize();
                console.log(formData);
            $.ajax({
                type:'post',
                url:'/api/login',
                data:formData,
                dataType:'json',
                success:function(data){
                    console.log(data);
                    if(data.code==200){
                        console.log(data.result);
                        //cookie 存的是字符串---将对象转换成字符串
                        var logInfo=JSON.stringify(data.result);
                        //设置cookie--设置到根目录
                        $.cookie('logInfo',logInfo,{path:'/'});
                        location.href='/index/index';
                    }
                },
                error:function(data){
                    console.log(data);
                }
            });
        return false; //阻止表单提交默认行为
        });
    </script>
</body>
</html>